name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  training-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install Dependencies
        run: |
          pip install mlflow dagshub scikit-learn pandas

      - name: Run MLflow Retraining
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Menjalankan retraining menggunakan MLflow Project (Bukan python modelling.py)
          mlflow run MLProject_Folder/ -e main

      - name: Build Docker Image (Advanced Requirement)
        run: |
          # Perintah untuk build docker image dari model MLflow
          mlflow models build-docker -m "runs:/${{ steps.vars.outputs.run_id }}/advanced_model" -n "username_docker/retail-model:latest"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        run: docker push username_docker/retail-model:latest