name: MLflow CI Retraining and Docker

on:
  push:
    branches: [main]

jobs:
  retrain-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install Dependencies
        run: |
          pip install mlflow==2.19.0 dagshub scikit-learn pandas

      - name: Run MLflow Retraining
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Retail-Product-Classification.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject_Folder/ -e main

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          mlflow models build-docker \
            -m "https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Retail-Product-Classification.mlflow#runs:/<run_id_anda>/advanced_model" \
            -n "${{ secrets.DOCKERHUB_USERNAME }}/retail-product-classification:latest"

          docker push ${{ secrets.DOCKERHUB_USERNAME }}/retail-product-classification:latest
